.custom-skeleton {
    border: 1px solid var(--surface-d);
    border-borderRadius: 4px;
}
.custom-skeleton ul {
    list-style: none;
}
.skeleton-container{
    width: 100vw;
    margin: 20px auto;
    display: flex;
}