body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map-content{
  width: 100vw;
  height: 99.1vh;
}
.input-form{
  margin-right: 20px;
}
::-webkit-scrollbar  {
  width: 7px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(206, 206, 206) !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(143, 143, 143) !important;
}